*{
    margin: 0px;
    padding: 0px;
}
canvas {
    border : 2px solid rgba(215,90,168,0.53);;
}
canvas:hover {
    border : 2.3px solid rgb(220,110,168);
}

#main {
    position: absolute;
    top: 3%;
    left: 20%;
}

#value {
    display: block;
    padding-left: 37%;
    padding-bottom: 20px;
    background-color: rgba(215,90,168,0.53);
}

#list {
    width: 150px;
}

#button{
    font-size:70%;
    padding: 5px;
    background-color: rgba(246,103,194,0.27);
}
#button:hover {
    background-color: rgba(181,87,135,0.49);
}

div {
    display: inline-block;
    padding: 10px;
}
