.conteiner{
    margin: 300px auto;
    text-align: center;
}
.player{
    border: 2px solid #B21515;
    display: inline-block;
    padding: 0 10px;
}
.player >*{
    display: inline-block;
    vertical-align: middle;
}
.a {
    background-size: 30px 30px;
}
.play{
    background-image: url(png/player_play.png);
}
.pause{
    background-image: url(png/player_pause.png);
}
.stop{
    background-image: url(png/player_stop.png);
}
.slower{
    background-image: url(png/player_rew.png);
}
.faster{
    background-image: url(png/player_fwd.png);
}
.volume{
    background-image: url(png/player_volume.png);
}
.player >a{
    width: 30px;
    height: 30px;

}
.progressbar{
    width: 100px;
    height: 10px;
    border: 1px black solid;
}
.progress{
    width: 0;
    height: 100%;
    background: #B21515;
}